* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Axiforma, sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #EFFAFF;
  height: 136px;
   padding-left: 80px;
  padding-right: 80px;
}

#firstlogo {
  width: 232px;
  height: 80px;
  margin-right: 73px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;

}

.authenticate {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.signup {
  padding: 16px 40px;
  gap: 4px;
  width: 142px;
  height: 56px;
  background: #8ECAE6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signin {
  padding: 16px 40px;
  gap: 4px;
  width: 130px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #021823;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #021823;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arima Madurai, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #476573;
}

.spill {
  white-space: nowrap;
}

.open {
  color: #219EBC;
  text-decoration: underline;
  text-decoration-color: #BECAE6;
}

.thefirst {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.thefirst h1 {
  font-family: Arima Madurai, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #072026;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 56px;
  gap: 24px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.thefirst article {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;
  width: 1265px;
  height: 456px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 580px;
  height: 432px;
  font-family: Arima Madurai, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #072026;
  gap: 16px;
}

.firstimg {
  margin-top: -40px;
}

.firstimg img {
  width: 588px;
  height: auto;
}

.thestory{
  gap: 40px;
  margin-bottom: -130px;
}

.rectangle {
  height: 299px;
  width: 1205px;
  background: rgba(255, 231, 171, 0.6);
  border-radius: 0px 0px 200px 200px;
}

.large {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 122px;
  height: 1118px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 136px;

}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;
  height: 486px;
  width: 1269px;
}

.mission h2 {
  padding: 24px 56px;
  font-family: Arima Madurai, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #072026;
  width: 350px;
  height: 114px;
  white-space: nowrap;
}

.mission-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  height: 312px;
}

.mission-art {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 628px;
  height: 312px;
  font-family: Arima Madurai, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  color: #072026;
  gap: 16px;
}

.secondimg img {
  width: 500px;
  height: auto;
  margin-top: -60px;
}

.Goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 36px;
  height: 510px;

}

.Goals h2 {
  font-family: Arima Madurai, sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 66px;
  color: #072026;
  width: 307px;
  height: 114px;
  padding: 24px 56px;
  white-space: nowrap;
}

.goal-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 164px;
}

.Goals-art {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-weight: 700;
  font-size: 20px;
  font-family: Arima Madurai, sans-serif;
  line-height: 36px;
  color: #072026;
}

footer {
  background-color: #1C282E;
}

.thefooter {
  display: flex;
  flex-direction: row;
  gap: 137px;
  margin-left: 80px;
  margin-right: 80px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 299px;
  margin-top: 56px;
  margin-bottom: 78px;
}

.left > p {
  width: 368px;
  height: 128px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  padding: 0px;
  gap: 16px;
  align-items: center;
  color: #F2F2F2;
  font-family: Archivo, sans-serif;
  margin-top: -35px;
}

form.nosubmit {
  width: 407px;
  height: 56px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  align-items: center;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Archivo, sans-serif;
  padding: 20px;
  justify-content: center;

}

.nosubmit > i {
  background-color: #1C282E;
  align-items: center;
  font-size: 20px;
  padding-top: 8px;
}

.nosubmit > input {
  flex: 1;
  height: 46px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: #1C282E;
}

.social {
  display: flex;
  flex-direction: row;
}

.social a {
font-size: 35px;
padding: 10px 20px;
color: white;
}

.footnav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 148px;
  margin-top: 136px;
}

.white {
  height: 32px;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  padding: 0px;
  gap: 16px;
  align-items: center;
  color: #F2F2F2;
  font-family: Archivo, sans-serif;
}

.theform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 423px;
  margin-top: 71px;

}

.theform > h4 {
  width: 358px;
  height: 54px;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  align-items: center;
  color: #F2F2F2;
  font-family: Arima Madurai, sans-serif;
  white-space: nowrap;
}

.theform > form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 423px;
  height: 180px;
}

#email-id {
  width: 114px;
  height: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #808080;
  white-space: nowrap;
  font-family: Archivo, sans-serif;
}

#email {
  width: 423px;
  height: 56px;
  border: 1px solid #808080;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: 808080;
  padding-left: 16px;
  background-color: #1C282E;
}

#submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 4px;
  width: 423px;
  height: 56px;
  background-color: #BECAE6;
  border-radius: 8px;
  font-family: Archivo, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #011119;
  border: none;
  margin-top: 32px;
}

.footnote {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 260px;
  width: 1247px;
  height: 52px;
  padding-bottom: 58px;
  margin-left: 80px;
  margin-right: 80px;
}

#copy {
  width: 162px;
  height: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #F2F2F2;
  font-family: Archivo, sans-serif;
  white-space: nowrap;
}

.terms {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 80px;
  width: 294px;
  height: 28px;
  font-family: Archivo, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #F2F2F2;
  white-space: nowrap;
}

.globe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 20px;
  width: 173px;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 8px;
  color: #F2F2F2;
}

