* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Axiforma, sans-serif;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #EFFAFF;
  height: 136px;
}

#firstlogo {
  width: 262px;
  height: 80px;
  margin-right: 73px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 42px;

}

.authenticate {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.signup {
  padding: 16px 40px;
  gap: 4px;
  width: 142px;
  height: 56px;
  background: #8ECAE6;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.signin {
  padding: 16px 40px;
  gap: 4px;
  width: 130px;
  height: 56px;
  border-radius: 8px;
  border: 2px solid #021823;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #021823;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Arima Madurai, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
  color: #476573;
}

.spill {
  white-space: nowrap;
}